body {
    background-color: rgb(210, 167, 115);
}

h1 {
    color: rgba(179, 49, 1, 0.986);
}

.myP {
    font-size: 30px;
    color: brown;
}

a{
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    text-decoration: none;
}
